In [1]:
import os
import pandas as pd
import warnings
import plotly.express as px
from sklearn.decomposition import PCA
from scipy.cluster.hierarchy import dendrogram, linkage
from kmodes.kprototypes import KPrototypes

In [3]:
warnings.filterwarnings('ignore')
path = os.getcwd() + '\\Analise e Tratamento\\Dados\\'

#Valores escalonados
df = pd.read_csv(path + 'Clientes.csv', sep = ';', encoding = 'utf-8')
df.head()

   ClienteID  Genero  Idade  Rendimento  Pontuacao
0          1    Male     19          15         39
1          2    Male     21          15         81
2          3  Female     20          16          6
3          4  Female     23          16         77
4          5  Female     31          17         40

In [4]:
dados = df.drop('ClienteID', axis = 1)
dados.head()

   Genero  Idade  Rendimento  Pontuacao
0    Male     19          15         39
1    Male     21          15         81
2  Female     20          16          6
3  Female     23          16         77
4  Female     31          17         40

In [26]:
cluster_kprot = KPrototypes(n_clusters = 4)
clusters = cluster_kprot.fit_predict(dados, categorical = [0]) 
clusters

array([0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3, 2, 3,
       2, 3], dtype=uint16)

In [27]:
cluster_id_column = pd.DataFrame(clusters, columns = ['ClusterID'])

In [28]:
df_2 = pd.concat([df, cluster_id_column], axis = 1)
df_2.head()

   ClienteID  Genero  Idade  Rendimento  Pontuacao  ClusterID
0          1    Male     19          15         39          0
1          2    Male     21          15         81          0
2          3  Female     20          16          6          1
3          4  Female     23          16         77          0
4          5  Female     31          17         40          1

In [29]:
df_3 = df_2.loc[df_2.ClienteID == 133]
df_3

     ClienteID  Genero  Idade  Rendimento  Pontuacao  ClusterID
132        133  Female     25          72         34          2

In [37]:
#Amostras com ruído.
df_4 = df_2.loc[df_2.ClusterID == 2]
df_4.shape

(38, 6)