In [1]:
import os
import pandas as pd
import warnings
import plotly.express as px
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.cluster import MeanShift

In [2]:
warnings.filterwarnings('ignore')
path = os.getcwd() + '\\Analise e Tratamento\\Dados\\'

#Valores escalonados
df = pd.read_csv(path + 'Clientes_LE_ESC.csv', sep = ';', encoding = 'utf-8')
df.head()

          0         1         2         3
0  1.128152 -1.424569 -1.738999 -0.434801
1  1.128152 -1.281035 -1.738999  1.195704
2 -0.886405 -1.352802 -1.700830 -1.715913
3 -0.886405 -1.137502 -1.700830  1.040418
4 -0.886405 -0.563369 -1.662660 -0.395980

In [3]:
dados = df.iloc[:, 0:4].values

In [10]:
cluster_meanshift = MeanShift(bandwidth = 1.5, cluster_all = True)
clusters = cluster_meanshift.fit(dados)

In [11]:
cluster_id = clusters.labels_

In [12]:
cluster_id_column = pd.DataFrame(cluster_id, columns = ['ClusterID'])

In [13]:
df_2 = pd.read_csv(path + 'Clientes.csv', sep = ';', encoding = 'utf-8')
df_2 = pd.concat([df_2, cluster_id_column], axis = 1)
df_2

     ClienteID  Genero  Idade  Rendimento  Pontuacao  ClusterID
0            1    Male     19          15         39          1
1            2    Male     21          15         81          1
2            3  Female     20          16          6          0
3            4  Female     23          16         77          0
4            5  Female     31          17         40          0
..         ...     ...    ...         ...        ...        ...
195        196  Female     35         120         79          3
196        197  Female     45         126         28          4
197        198    Male     32         126         74          1
198        199    Male     32         137         18          4
199        200    Male     30         137         83          1

[200 rows x 6 columns]

In [16]:
df_3 = df_2.loc[df_2.ClienteID == 45]
df_3

    ClienteID  Genero  Idade  Rendimento  Pontuacao  ClusterID
44         45  Female     49          39         28          0

In [20]:
#Amostras com ruÃ­do.
df_4 = df_2.loc[df_2.ClusterID == 3]
df_4.shape

(21, 6)