In [12]:
#pip install mlxtend
from pyECLAT import Example1, ECLAT
from mlxtend.frequent_patterns import apriori, association_rules
import warnings

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [13]:
warnings.filterwarnings('ignore')

In [14]:
dados = Example1().get()

In [15]:
dados

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [16]:
#Transformando os dados para efeito de cálculos.
eclat = ECLAT(data = dados, verbose = True)

100%|███████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 671.32it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<?, ?it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 2333.69it/s]

In [17]:
dados_bin = eclat.df_bin
dados_bin

   bread  bean  coffe  milk  rice  beer  butter
0      1     0      0     1     0     1       1
1      1     0      1     0     0     0       1
2      1     0      1     0     0     0       1
3      1     0      1     1     0     0       1
4      0     0      0     0     0     1       0
5      0     0      0     0     0     0       1
6      1     0      0     0     0     0       0
7      0     1      0     0     0     0       0
8      0     1      0     0     1     0       0
9      0     0      0     0     1     0       0

In [18]:
eclat.uniq_

[nan, 'bread', 'bean', 'coffe', 'milk', 'rice', 'beer', 'butter']

In [19]:
#Gerando a associação
associacao = apriori(dados_bin, min_support=0.1, use_colnames = True)

In [20]:
#Colocando e exibindo em ordem  mais frequentes (support)
associacao.sort_values('support', ascending=False)

    support                      itemsets
0       0.5                       (bread)
6       0.5                      (butter)
10      0.4               (butter, bread)
18      0.3        (butter, coffe, bread)
7       0.3                (coffe, bread)
13      0.3               (butter, coffe)
2       0.3                       (coffe)
5       0.2                        (beer)
8       0.2                 (milk, bread)
3       0.2                        (milk)
1       0.2                        (bean)
15      0.2                (butter, milk)
4       0.2                        (rice)
20      0.2         (milk, butter, bread)
19      0.1           (beer, milk, bread)
24      0.1  (butter, milk, coffe, bread)
23      0.1          (beer, butter, milk)
22      0.1         (butter, coffe, milk)
21      0.1         (beer, butter, bread)
16      0.1                (beer, butter)
17      0.1          (milk, coffe, bread)
14      0.1                  (beer, milk)
12      0.1                 (coffe, milk)
11      0.1                  (rice, bean)
9       0.1                 (beer, bread)
25      0.1   (beer, milk, butter, bread)

In [23]:
#São formados conjuntos associativos e são tomadas as taxas de frequências (support) que ocorrem.
#Subconjuntos são tomados destes conjuntos.

#Gerando regras de associação (Ordenação com base na métrica, tomando por base os subconjuntos de cada 
#conjunto associativo)

regras = association_rules(associacao, metric = 'lift')
regras

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(coffe),(bread),0.3,0.5,0.3,1.00,2.0,0.15,inf,0.714286
1,(bread),(coffe),0.5,0.3,0.3,0.60,2.0,0.15,1.750000,1.000000
2,(milk),(bread),0.2,0.5,0.2,1.00,2.0,0.10,inf,0.625000
3,(bread),(milk),0.5,0.2,0.2,0.40,2.0,0.10,1.333333,1.000000
4,(beer),(bread),0.2,0.5,0.1,0.50,1.0,0.00,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
85,"(butter, bread)","(beer, milk)",0.4,0.1,0.1,0.25,2.5,0.06,1.200000,1.000000
86,(beer),"(bread, butter, milk)",0.2,0.2,0.1,0.50,2.5,0.06,1.600000,0.750000
87,(milk),"(beer, butter, bread)",0.2,0.1,0.1,0.50,5.0,0.08,1.800000,1.000000
88,(butter),"(beer, bread, milk)",0.5,0.1,0.1,0.20,2.0,0.05,1.125000,1.000000
89,(bread),"(beer, butter, milk)",0.5,0.1,0.1,0.20,2.0,0.05,1.125000,1.000000

In [22]:
#Ordenando pela somente pela métrica (support)
resultado = regras.sort_values('support', ascending = False)
resultado.tail()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
17,"(coffe, milk)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
16,"(beer, bread)",(butter),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
15,"(beer, butter)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
6,"(coffe, milk)",(bread),0.1,0.5,0.1,1.0,2.0,0.05,inf,0.555556
28,"(beer, bread)","(butter, milk)",0.1,0.2,0.1,1.0,5.0,0.08,inf,0.888889