In [4]:
from pyECLAT import Example1, ECLAT

In [2]:
dados = Example1().get()

In [3]:
dados

        0      1       2       3
0    milk   beer   bread  butter
1   coffe  bread  butter     NaN
2   coffe  bread  butter     NaN
3    milk  coffe   bread  butter
4    beer    NaN     NaN     NaN
5  butter    NaN     NaN     NaN
6   bread    NaN     NaN     NaN
7    bean    NaN     NaN     NaN
8    rice   bean     NaN     NaN
9    rice    NaN     NaN     NaN

In [5]:
eclat = ECLAT(data = dados, verbose = True)

100%|███████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 243.64it/s]
100%|██████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 6651.59it/s]
100%|███████████████████████████████████████████████████████████████████████████████████| 7/7 [00:00<00:00, 426.42it/s]

In [6]:
eclat.df_bin

   milk  rice  beer  butter  coffe  bean  bread
0     1     0     1       1      0     0      1
1     0     0     0       1      1     0      1
2     0     0     0       1      1     0      1
3     1     0     0       1      1     0      1
4     0     0     1       0      0     0      0
5     0     0     0       1      0     0      0
6     0     0     0       0      0     0      1
7     0     0     0       0      0     1      0
8     0     1     0       0      0     1      0
9     0     1     0       0      0     0      0

In [7]:
eclat.uniq_

['milk', 'rice', 'beer', 'butter', 'coffe', 'bean', 'bread', nan]

In [11]:
indices, suporte = eclat.fit(min_support = 0.1, min_combination=2, max_combination=4)

Combination 2 by 2

21it [00:00, 97.66it/s]

Combination 3 by 3

35it [00:00, 103.85it/s]

Combination 4 by 4

35it [00:00, 109.04it/s]

In [12]:
indices #indices em que aparecem

{'milk & beer': [0],
 'milk & butter': [0, 3],
 'milk & coffe': [3],
 'milk & bread': [0, 3],
 'rice & bean': [8],
 'beer & butter': [0],
 'beer & bread': [0],
 'butter & coffe': [1, 2, 3],
 'butter & bread': [0, 1, 2, 3],
 'coffe & bread': [1, 2, 3],
 'milk & beer & butter': [0],
 'milk & beer & bread': [0],
 'milk & butter & coffe': [3],
 'milk & butter & bread': [0, 3],
 'milk & coffe & bread': [3],
 'beer & butter & bread': [0],
 'butter & coffe & bread': [1, 2, 3],
 'milk & beer & butter & bread': [0],
 'milk & butter & coffe & bread': [3]}

In [13]:
suporte #F(x,y)/N --> Frequência da combinação dividido pelo total de combinações.

{'milk & beer': 0.1,
 'milk & butter': 0.2,
 'milk & coffe': 0.1,
 'milk & bread': 0.2,
 'rice & bean': 0.1,
 'beer & butter': 0.1,
 'beer & bread': 0.1,
 'butter & coffe': 0.3,
 'butter & bread': 0.4,
 'coffe & bread': 0.3,
 'milk & beer & butter': 0.1,
 'milk & beer & bread': 0.1,
 'milk & butter & coffe': 0.1,
 'milk & butter & bread': 0.2,
 'milk & coffe & bread': 0.1,
 'beer & butter & bread': 0.1,
 'butter & coffe & bread': 0.3,
 'milk & beer & butter & bread': 0.1,
 'milk & butter & coffe & bread': 0.1}