In [1]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import StandardScaler
import os

In [2]:
df = pd.read_csv(f'{os.getcwd()}\Dados\heart_tratado.csv', sep=';', encoding='utf-8')

In [3]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289.0,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180.0,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283.0,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214.0,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195.0,0,Normal,122,N,0.0,Up,0

In [4]:
df.shape

(917, 12)

In [5]:
#Faz uma cópia de df
df_2 = pd.DataFrame.copy(df)

In [6]:
#Substitui variáveis categóricas nominais por ordinais
df_2['Sex'].replace({'M': 0, 'F': 1}, inplace = True)
df_2['ChestPainType'].replace({'TA': 0, 'ATA': 1, 'NAP': 2, 'ASY': 3}, inplace = True)
df_2['RestingECG'].replace({'Normal': 0, 'ST': 1, 'LVH': 2}, inplace = True)
df_2['ExerciseAngina'].replace({'N': 0, 'Y': 1}, inplace = True)
df_2['ST_Slope'].replace({'Up': 0, 'Flat': 1, 'Down': 2}, inplace = True)

In [7]:
df_2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,1,140,289.0,0,0,172,0,0.0,0,0
1,49,1,2,160,180.0,0,0,156,0,1.0,1,1
2,37,0,1,130,283.0,0,1,98,0,0.0,0,0
3,48,1,3,138,214.0,0,0,108,1,1.5,1,1
4,54,0,2,150,195.0,0,0,122,0,0.0,0,0

In [8]:
df_2.dtypes

Age                 int64
Sex                 int64
ChestPainType       int64
RestingBP           int64
Cholesterol       float64
FastingBS           int64
RestingECG          int64
MaxHR               int64
ExerciseAngina      int64
Oldpeak           float64
ST_Slope            int64
HeartDisease        int64
dtype: object

In [9]:
previsores = df_2.iloc[:,0:11].values

In [10]:
#Coluna 'HeartDisease' coluna a ser prevista
alvo = df_2.iloc[:, 11].values

In [11]:
#Colacando os previsores em uma escala padrão (baseado em distribuição normal padrão - média = zero, desvio padrão = 1)
previsores_esc = StandardScaler().fit_transform(previsores)

In [12]:
alvo_file = open(f'{os.getcwd()}\\Dados\\heart_alvo.pkl', 'wb')
pickle.dump(alvo, alvo_file)
alvo_file.close()

previsores_file = open(f'{os.getcwd()}\\Dados\\heart_previsores.pkl', 'wb')
pickle.dump(previsores, previsores_file)
previsores_file.close()

previsores_esc_file = open(f'{os.getcwd()}\\Dados\\heart_previsores_esc.pkl', 'wb')
pickle.dump(previsores_esc, previsores_esc_file)
previsores_esc_file.close()