In [1]:
import pandas as pd
import numpy as np

In [24]:
datas = pd.date_range('20190101', periods = 60, freq = 'D')
df = pd.DataFrame(np.random.randn(60,5), index = datas, columns = list('ABCDE'))
df.head(3)

                   A         B         C         D         E
2019-01-01  0.303865 -0.848883  1.877196 -0.634977 -1.014933
2019-01-02 -1.519974 -0.376308  0.082409 -0.299826 -0.103498
2019-01-03 -0.431277 -3.164727 -1.263799  0.667935  0.156341

In [25]:
df['F'] = df.A[df.A > 0]

In [26]:
df.head(3)

                   A         B         C         D         E         F
2019-01-01  0.303865 -0.848883  1.877196 -0.634977 -1.014933  0.303865
2019-01-02 -1.519974 -0.376308  0.082409 -0.299826 -0.103498       NaN
2019-01-03 -0.431277 -3.164727 -1.263799  0.667935  0.156341       NaN

In [27]:
df.dropna().head(3) #remove toda a linha com um campo NaN

                   A         B         C         D         E         F
2019-01-01  0.303865 -0.848883  1.877196 -0.634977 -1.014933  0.303865
2019-01-06  1.393590 -0.348967 -0.493448  0.056077  0.686752  1.393590
2019-01-07  0.221874  0.615685  0.476601  0.396511  0.553035  0.221874

In [33]:
df.fillna(np.mean(df.A)).head(3) # preenche os campos NaN da coluna F com a m√©dia da coluna A

                   A         B         C         D         E         F
2019-01-01  0.303865 -0.848883  1.877196 -0.634977 -1.014933  0.303865
2019-01-02 -1.519974 -0.376308  0.082409 -0.299826 -0.103498 -0.028343
2019-01-03 -0.431277 -3.164727 -1.263799  0.667935  0.156341 -0.028343

In [34]:
df.fillna(value = '---').head(3)

                   A         B         C         D         E         F
2019-01-01  0.303865 -0.848883  1.877196 -0.634977 -1.014933  0.303865
2019-01-02 -1.519974 -0.376308  0.082409 -0.299826 -0.103498       ---
2019-01-03 -0.431277 -3.164727 -1.263799  0.667935  0.156341       ---