In [3]:
import pandas as pd

In [4]:
vendas = [7,4,3,2,8]
dias = pd.date_range('20190101', '20190101', periods = 5)
vendedores = ['George', 'Vagner', 'Pedro', 'Vagner', 'George']

In [6]:
df = pd.DataFrame({'Venda': vendas,'Data': dias, 'Vendedor': vendedores})
df

   Venda       Data Vendedor
0      7 2019-01-01   George
1      4 2019-01-01   Vagner
2      3 2019-01-01    Pedro
3      2 2019-01-01   Vagner
4      8 2019-01-01   George

In [8]:
df.pivot_table(index = 'Data', columns = 'Vendedor', values = 'Venda', aggfunc = 'sum')

Vendedor    George  Pedro  Vagner
Data
2019-01-01      15      3       6