In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A':['Paulinho', 'Carla', 'Pedro'],
                   'B':['45', '41', '7']})

In [3]:
df

          A   B
0  Paulinho  45
1     Carla  41
2     Pedro   7

In [4]:
df.loc[df.A == 'Pedro', 'B'] = 8
df

          A   B
0  Paulinho  45
1     Carla  41
2     Pedro   8

In [5]:
df2 = pd.DataFrame({'A': [0,1,0,2,0,5],
        'B': [0, 0, 0,0, 0, 0]})

df2

   A  B
0  0  0
1  1  0
2  0  0
3  2  0
4  0  0
5  5  0

In [8]:
df2.where(df2 > 0, 'oi')

    A   B
0  oi  oi
1   1  oi
2  oi  oi
3   2  oi
4  oi  oi
5   5  oi